<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Liste d'albums</h1>

		<f:flashMessages />

		<ul class="tx_galerielstbdd list-group" >
			<f:for each="{albums}" as="album">
				<li class="list-group-item">
					<f:link.action action="show" arguments="{album : album}"> {album.nom}</f:link.action> publié le
					<f:format.date format="d/m/Y">{album.date}</f:format.date>
					<f:format.html>{album.description}</f:format.html>
				</li>
			</f:for>
		</ul>
	</f:section>
</html>