<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-galerie-lstbdd" >
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.nom" />
		</td>
		<td>
		{auteur.nom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.prenom" />
		</td>
		<td>
		{auteur.prenom}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.profession" />
		</td>
		<td>
		{auteur.profession}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.adress" />
		</td>
		<td>
		{auteur.adress}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.email" />
		</td>
		<td>
		{auteur.email}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.telephone" />
		</td>
		<td>
		{auteur.telephone}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.site_internet" />
		</td>
		<td>
		{auteur.siteInternet}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_galerielstbdd_domain_model_auteur.bio" />
		</td>
		<td>
		{auteur.bio}
		</td>
	</tr>
</table>
</html>